/*.header {
  text-align: center;
}*/
.title {
  margin-right: 5rem;
}
.title-panel {
	position: relative;
}
.panel-heading {
	position: relative;
}
#react-paginate {
	text-align: center;
}
#react-paginate ul {
	display: inline-block;
}

#react-paginate li {
	display: inline-block;	
	padding: 8px 2px;
	border: 1px solid #ddd;
}

#react-paginate a {
	padding: 8px 16px;
}

#react-paginate .active {
	background-color: #29a5ce;
	color: white;

}