@import 'http://weloveiconfonts.com/api/?family=fontawesome';
[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.dateBounds {
	color: gray;
}

.difficulty {
	width: 250px;
	display:inline-block;
	vertical-align: middle;
}

.difficultyDD {
	color: gray;
	border-radius: 5px;
	border-color: #CDCDCD;
	height: 35px;
	width: 65px;
	margin-right: 2px;
	display:inline-block;
	vertical-align: middle;
}

.difficultyDD-dropdown {
	color: gray;
}

.cat, .diff, .date, .fav, .ans {
	font-size: 25px;
}

.startDate {
	color: gray;
	border: 1px solid;
	border-color: #CDCDCD;
	border-radius: 5px;
	margin-right: 7px;
	width: 140px;
}

.endDate {
	color: gray;
	border: 1px solid;
	border-color: #CDCDCD;
	border-radius: 5px;
	margin-left: 7px;
	width: 140px;
}

.loadAllText {
	font-family: Roboto;
	font-size: 1.1 rem;
}

.loadAllButton, .loadAllQueryButton {
	text-align: center;
}

.loadButton, .loadQueryButton {
	background-color: grey;
	border: none;
	color: white;
	width: 225px;
	padding: 15px;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
}
